.wrapper {
  background-color: bisque;
  margin: 20px;
}

.input {
  display: block;
  background-color: cornflowerblue;
  padding: 5px;
  margin-bottom: 5px;
}

.textarea {
  display: block;
  padding: 10px;
  border: 1px solid 000;
}